body {
  overflow-x: hidden;
}
@import "./variables.scss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@1,300&display=swap');
@import "reset.scss";
@import "navbar.scss";
@import "footer.scss";
@import "slider.scss";
@import "cards.scss";
@import "home.scss";
@import "hizmetlerSidebar";
@import "hizmetler";
@import "kurumsal.scss";
@import "iletisim.scss";
.active {
  color: $logo-auxiliary-color !important;
  filter: drop-shadow(0 10px 8px rgba(0, 0, 0, 0.58));
}
