//colors
$main-background-color: rgb(35, 39, 65);
$logo-main-color: #7a21aa;
$logo-auxiliary-color: #cca445;
$mobil-nav-bacground-color: #eeeeee;
$footer-background-color: #fbfbfb;
//fonts
$baslik-fontsize-buyuk: 3rem;
$baslik-fontsize-orta: 2rem;
$baslik-fontsize-kucuk: 1.5rem;
//box
$container: 1536px;