header {
  background-color: white;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

  .container {
    max-width: $container;
    min-height: 11rem;
    margin: 0 auto;
    padding: 0 2rem;
    font-size: 1.6rem;
    display: grid;
    grid-template-columns: 1fr 3fr;
    z-index: 9;

    .logo {
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 100%;
        object-fit: cover;
        transition: all 0.5s ease-in-out;
      }
    }

    .logo:hover {
      img {
        animation-name: img-hover;
        animation-duration: 1.2s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-timing-function: ease-in-out;
        animation-fill-mode: backwards;
        filter: drop-shadow(0 3rem 3px black);

        @keyframes img-hover {
          0% {
            transform: translate(0, 0)
          }

          50% {
            transform: translate(0, -9px)
          }

          100% {
            transform: translate(0, 0px)
          }
        }
      }
    }

    #navbar {
      display: flex;
      justify-content: flex-end;
      align-items: center;

      .nav-items {
        height: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        .nav-li {
          height: 100%;
          margin: 0 2rem;

          a {
            display: inline-block;
          }

          .nav-item {
            display: flex;
            align-items: center;
            width: 100%;
            height: 100%;
            text-transform: uppercase;
            color: black;
            letter-spacing: .1rem;
            font-weight: 500;
            transition: color 0.3s ease;
          }

          .nav-item:hover {
            color: $logo-auxiliary-color;
          }
        }

        .nav-li::before {
          content: "";
          display: block;
          height: 3px;
          width: 0;
          margin: auto auto;
          background-color: $logo-main-color;
          transform: scale(0, 0);
          transform: translate(0, 30px);
          transition: all .5s ease;
        }

        .nav-li:hover::before {
          visibility: visible;
          width: 100%;
          transform: scale(1, 1);
          transform: translate(0, 30px);
          filter: drop-shadow(0 6px 5px $logo-auxiliary-color);
        }

        .dropdown {
          position: relative;

          i {
            font-size: 1.3rem;
            margin-left: 1rem;
          }

          .dropdown-menu {
            width: 35rem;
            padding: 2rem;
            cursor: none;
            position: absolute;
            z-index: 9;
            top: 10rem;
            left: -10rem;
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
            background-color: white;
            visibility: hidden;
            opacity: 0;
            transform: scale(0, 0);
            transition-property: all;
            transition-duration: 0.3s;
            box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;

            .dropdown-item {
              margin: 0;
              padding: 1rem 0;
              text-transform: uppercase;

              a {
                font-size: 1.4rem;
                padding: 0 1rem;
                display: inline-block;
                width: 100%;
                transition: all .3s ease;
                color: black;
              }

              a:hover {
                color: #d4a946;
                filter: drop-shadow(0 10px 8px rgba(0, 0, 0, 0.58));
              }
            }
          }
        }

        .fa-angle-down {
          transition: all .5s;
        }

        .dropdown:hover {
          .fa-angle-down {
            transform: rotate(180deg);
          }

          .dropdown-menu {
            opacity: 1;
            visibility: visible;
            transform: scale(1, 1);
            cursor: pointer;
          }
        }
      }
    }

    // mobil nav start
    #mobil_nav {
      display: none;
      position: relative;

      .mobil_nav_controls {
        height: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        .fa-bars {
          font-size: $baslik-fontsize-buyuk;
          color: black;
          cursor: pointer;
        }

        .mobil_nav_items {
          width: 300%;
          position: absolute;
          top: 100%;
          right: -2rem;
          z-index: 1;
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          padding: 3rem;
          text-transform: uppercase;
          font-size: 1.6rem;
          background-color: white;
          transition: transform 0.3s ease-in-out;
          transform: scale(1, 1);
          box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

          li {
            width: 100%;
            text-align: center;
            text-transform: capitalize;

            .mobil-nav-item {
              display: inline-block;
              width: 100%;
              padding: 3rem;
              transition: color 0.3s ease-in-out;
              color: black;

              .fa-angle-down {
                margin-left: 1rem;
              }
            }

            .mobil-nav-item:hover {
              color: $logo-auxiliary-color;
            }
          }
        }

        .mobil_nav_items_close {
          visibility: hidden;
          transform: scale(0, 0);
          transition: all 0.3s ease;
        }

        .mobil-dropdown {
          .mobil_dropdown_items {
            height: 0;
            visibility: hidden;
            cursor: none;
            transition: all 0.3s ease;

            li {
              padding: 1rem;

              a {
                font-size: 1.4rem;
                color: black;
                transition: all .3s ease;
              }

              a:hover {
                color: $logo-auxiliary-color;
              }
            }
          }

          .mobil_dropdown_items_click {
            height: auto;
            visibility: visible;
            transition: all 0.3s ease;
          }
        }
      }
    }

    // mobil nav end
  }
}

@media screen and (max-width: 900px) {
  #navbar {
    display: none !important;
  }

  #mobil_nav {
    display: block !important;

    .mobil_nav_controls {
      .mobil_nav_items {
        max-width: 100%;
      }
    }
  }

  .container {
    grid-template-columns: 1fr 1fr !important;
  }
}

@media screen and (max-width: 576px) {
  #mobil_nav {
    .mobil_nav_controls {
      .mobil_nav_items {
        max-width: 200%;
      }
    }
  }

  .container {
    grid-template-columns: 2fr 1fr !important;
  }
}